# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/workspace.xml
*.iml
deploy/sql/afterMigrate.sql
deploy/sql/beforeMigrate.sql