#notificationsauction{
    margin: 10px;
    padding: 10px;
    width: calc(25% - 20px);
    position:fixed;
    top: 80px;
    right: 0px;
    z-index: 9999;
    font-size: 12px;
}
.notificationauction {
    width: calc(100% - 20px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin: 10px 0px;
    -webkit-box-shadow: 4px 2px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 2px 5px -1px rgba(0, 0, 0, 0.75);
    opacity: 0.5;
    line-height: 1.2em;
    cursor: pointer;
}
.notificationauction:hover{
    opacity: 1;
}
.notificationauction >.notificationicon{
    display:inline-block;
    position:relative;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    top:50%;
    transform:translateY(-50%);
}
.notificationauction > .notificationcontent{
    display: inline-block;
    width: calc(100% - 50px);
}
.notificationauction.error{
    border-color: #8b0008!important;
    background-color: #8b4242!important;
    color: #ffffff !important;
}
.notificationauction.success{
    border-color: #00ff00!important;
    background-color: #00a200!important;
    color: #ffffff !important;
}
.notificationauction > .notificationcontent > .title{
    border-bottom:1px solid #fff;
    font-weight:bold;
    margin-bottom: 5px;
}
.notificationauction > .notificationcontent > .fieldtitle{
    display: inline-block;
    width:35%;
}
.notificationauction > .notificationcontent > .fieldvalue{
    display: inline-block;
    width:65%;
}
.notificationauction > .notificationcontent > .total{
    font-weight: bold;
    border-top:1px solid #fff;
    margin-top:5px
}
.notificationauction > .notificationcontent > .total > .totalvalue{
    display: inline-block;
    width:65%;
    float:right;
    text-align: left;
}
#MasterFilter{
    width:30%;
    display:inline-block;
    vertical-align: top;
}
#AuctionsContainer{
    width:70%;
    display:inline-block;
    vertical-align: top;
}
#FilterToggler{display: none;}
#Loader{
    display:none;
    position:fixed;
    top:0px;
    left: 0px;
    width:100%;
    height:100vh;
    padding:0px;margin:0px;
    background-color:rgba(14,108,146,0.7);
    text-align: center;
    z-index: 99999
}
#Loader > #LoaderContent{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
#Loader > #LoaderContent > .fa{
    color:#fff
}
.slider.slider-horizontal{width:calc(100% - 31px)!important;}
.pagination > li{
    list-style: none;
    display: inline-block;
    padding:3px 10px;
    margin:0px 5px;
    border:1px solid rgb(14,108,146);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(14,108,146);
}
.pagination > li:hover{
    background-color: rgba(14,108,146,0.7);
    border-color: rgba(14,108,146,0.7);
    color:#fff
}
.pagination > li.active{
    background-color: rgb(14,108,146);
    border-color: rgb(14,108,146);
    color:#fff!important;
}
.pagination > li.disabled{
    background-color: #666;
    border-color: #666;
    color:#fff
}
.pagination > li.disabled:hover{
    background-color: #333;
    border-color: #333;
    cursor: not-allowed
}
.FilterNumber{
    display:inline-block;
}
#AuctionsContainer > div.headline{
    height:50px
}
.small-dialog.mfp-close,
#sign-in-dialog, .mfp-close,
.mfp-close:hover {
	color: #fff;
}


/* Popup close button*/
.small-dialog.mfp-close {
	color: #666;
	background-color: #e4e4e4;
	border-radius: 4px;
	top: 28px;
	right: 40px;
    width: 40px;
    height: 40px;
}

.small-dialog .mfp-close:hover {
	color: #fff;
	background-color: #66676b;
}

.small-dialog-content input[type=submit] {
	width: 100%;
	margin-top: 26px;
	margin-bottom: 10px;
}

.small-dialog-content .divider {
	display: inline-block;
	width: 100%;
	margin-top: 15px;
	padding-bottom: 0;
}

.small-dialog-header {
	font-size: 22px;
	width: calc(100% + 80px);
	position: relative;
	left: -40px;
	top: 0;
	border-radius: 4px 4px 0 0;
	display: inline-block;
	background-color: #f6f6f6;
	padding: 35px 40px;
	margin-bottom: 40px;
}

.small-dialog-header h3 {
	padding: 0;
	margin: 0;
	font-size: 23px;
}
.dashboard-container > div.dashboard-content-container > div.simplebar-scroll-content > div > div.small-footer{
    width:100%;
    left:0px
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
#UnidadDeVenta{
    display:inline-block;
    text-transform: lowercase
}
@media screen and (max-width:768px){
    #notificationsauction{
        width: calc(100% - 20px);
        margin: 10px;
        padding: 10px;
        bottom: 0px;
        top: auto;
    }
    #MasterFilter{
        width:100%;
        display:none;
    }
    #AuctionsContainer{
        width:100%;
        vertical-align: top;
    }
    #FilterToggler{
        display: block;
    }
    #FilterToggler > #title{
        display: inline-block;
        font-size: 17px;
        padding:14px 16px;
    }
    #FilterToggler > #icon{
        display: inline-block;
        float: right;
        font-size:28px;
        padding:14px 16px;
    }
}