SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

0 2 * * * root /backup.sh subastas_db 3306 root 'fjwortij987235!!eas' subastas /backup daily 6 1>/proc/1/fd/1  2>/proc/1/fd/1
0 3 */7 * * root /backup.sh subastas_db 3306 root 'fjwortij987235!!eas' subastas /backup weekly 6 1>/proc/1/fd/1  2>/proc/1/fd/1
0 4 1 * * root /backup.sh subastas_db 3306 root 'fjwortij987235!!eas' subastas /backup monthly 6 1>/proc/1/fd/1  2>/proc/1/fd/1
